<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/my-blog/assets/css/reset.css" />
  <link rel="stylesheet" href="/my-blog/assets/css/tokens.css" /> -->
  <link rel="stylesheet" href="/my-blog/assets/css/base.css" />
  <!-- <link rel="stylesheet" href="/my-blog/assets/css/post.css" />
  <link rel="stylesheet" href="/my-blog/assets/css/links.css" /> -->
  <title>{{title}} - Jared Clayborn</title>
</head>
<body>
  <header class="blog">
    <div class="inner-header">
      <h1 class="center">Jared Clayborn</h1>
       <div>
        <p class="center subheader">Engineering Blog - Systems Programming, Rust, and the Journey to Staff Engineer</p>
      </div>
    </div>
  </header>


  <main>
    <nav class="back-nav" aria-label="back to home">
      <a href="/my-blog/index.html" class="nav-link">← Back to Home</a>
    </nav>
    <section class="intro">
      <h1>{{title}}</h1>
      <div class="time" datetime="{{date}}">{{date}}</div>
    </section>
    <section class="preview-section">
      <div class="post-content">
        {{content}}
      </div>
    </section>
  </main>
</body>
</html>