<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/reset.css" />
  <link rel="stylesheet" href="../assets/css/tokens.css" />
  <link rel="stylesheet" href="../assets/css/base.css" />
  <link rel="stylesheet" href="../assets/css/post.css" />
  <link rel="stylesheet" href="../assets/css/links.css" />
  <title>{{title}} - Jared Clayborn</title>
</head>
<body>
  <header>
    <h1 class="center">Jared Clayborn</h1>
     <div style="position:absolute; top:0; right:0%;">
      <a href="../index.html"><img style="border-radius: 50%;" height="132px" src="../assets/images/Jared.png"></a>
    </div>
    <nav>
      <a href="../index.html">← Back to Home</a>
    </nav>
  </header>

  <main>
    <article>
      <h1>{{title}}</h1>
      <time datetime="{{date}}">{{date}}</time>

      <div class="post-content">
        {{content}}
      </div>
    </article>
  </main>

  <footer>
    <p>© 2025 Jared Clayborn. Licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></p>
  </footer>
</body>
</html>