@import url("tokens.css");

header {
  background-color: var(--color-primary);
  height: 14vh;
  max-height: 14vh;
}

h1 {
  color: white;
  font-size: 40px
}

.subheader {
  font-size: 20px;
  color: white;
  font-weight:600;
}

footer {
  background-color: var(--color-primary);
  top: 97vh;
  width: 100%;
  position:absolute;
  height: 3vh;
}

.center {
  text-align: center;
}