@import '@jared.the.engineer1/design-system/dist/index.css';
/* @import "../node_modules/@jared.the.engineer1/design-system/dist/index.css"; */

.center {
  text-align: center;
}

.me {
  background-color: var(--color-primary);
}

.absolute {
  position:absolute;
}

.top {
  top: 0;
}