@import url('tokens.css');

/* .posts { */
  /* max-height: 86vh;
  overflow-y: scroll; */
  /* display: grid;
  grid-template-columns: auto auto auto; */
  /* margin: 0 11.5%;
  padding-right: 17.25%; */
  /* width: 100%;
} */

/* main {
  margin: 0 auto;
  max-width: 72ch;
  padding-inline: var(--space-4);
  padding-bottom: var(--space-6);
} */

/* main p:not(.page-intro) {
  color: var(--color-text-seondary);
} */

/* .preview-section {
  padding-bottom: var(--space-2);
}

.preview-section + .preview-section {
  margin-top: var(--space-2);
} */

/* section:last-of-type {
  margin-bottom: var(--space-6);
} */

/* .container {
  /* display: grid;
  grid-template-columns: auto auto auto auto; */
  /* background-color: dodgerblue; */
  /* padding: 10px;
  height: 390px; 
  min-height: 390px;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center; */
/* } */

/* .post-item {
  width: 390px;
  height: 100%;
  text-align: center;
  background-color: #9e9e9e;
  margin: 0px 8px 8px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-item p {
  width:390px;
  height: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/* main article {
  margin: 0 22%;
}

main article h1,h2 {
  text-align: center
}

main article .time { 
  text-align: center;
} */

/* #post {
  max-height: 83vh;
  overflow-y: scroll;
} */

.something {
  color: red;
}